.container {
    max-width: 1440px;
    margin: 80px auto 0 auto;
}

.title {
    margin: 0 0 20px 30px;
    display: flex;
    gap: 96px;
}

.title p {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
}

.button {
    margin-top: 5px;
    width: 120px;
    height: 31px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    color: #8B8B8B;
    background-color: white;
    border: 2px solid #8B8B8B;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: ease-in-out 0.1s;
}

.button:hover {
    border: none;
    width: 122px;
    font-size: 13px;
    color: white;
    background-color: #f6ce49;
    box-shadow: 1px 1px 2px #3e34129f;
}


/* .grid {
    margin: 30px auto;
    max-width: 1378px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
    grid-auto-rows: 450px;
    gap: 32px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.grid p {
    max-width: 258px;
    margin: 20px auto;

} */

.category_container{
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    gap: 32px;
}


@media (max-width: 684px) {
   
    .title {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 540px) {
   
    .title {
        margin: 0 0 50px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .title p {
        font-size: 40px; 
        align-self: center;
    }
    

}